@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

* {

    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
